@import url('https://fonts.googleapis.com/css2?family=Corinthia&display=swap');

.card{
    margin: 10px;
    width: 18rem;
    border-radius: 10px;

    #imgCard{
        height: 12rem;
        width: 90%;
        margin: 10px;
        border: 1px solid lightgrey;
        border-radius: 20px;
    }
    .itemNavLink{
        display: flex;
        justify-content: center;
        color: white;
        text-decoration: none;
    }
}
